<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 编码标签 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 响应式 viewport meta 标签 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/static/css/layout.css">
	<!-- script -->
    <script src="../public/vendor/jquery/jquery-3.4.1.min.js"></script>
    <script src="../public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../public/static/js/layout.js"></script>
    <title>顶看-Dingkan Admin模板</title>
 </head>
<body>
<div style="position: absolute;top: 50px; ">
  <h1 style="position: relative; color:orange;line-height:60px;padding-left:10px;font-size: 40px;font-weight: bold;letter-spacing: -1px;margin:0 auto">Hi！KANMOU</h1>
  </div>
</body>
</html>